site_name: MkDocs Lathund EFk

theme:
  name: material
  
nav:
  - Hem: index.md


  - Nytt projekt: content/new-project.md 
  - Ny dator: content/new-pc.md


  - Python: content/python.md
  - MkDocs Config: content/config.md
  - Skriva i markdown: content/markdown.md
  - GitHub Pages: content/github-pages.md
  - Git: content/git.md
  - BUGG: include/mkdocs-click-watch-bugg.md


markdown_extensions:

  - pymdownx.magiclink

  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true

  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details

  # - pymdownx.emoji:
  #     emoji_index: !!python/name:material.extensions.emoji.twemoji
  #     emoji_generator: !!python/name:material.extensions.emoji.to_svg
      
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde




extra_css:
  - styles/extra.css
